@font-face {
    font-family: 'Outfit';
    src: local('Outfit'),
         url('./') format('woff'),
         url('./fonts/CustomFont1Name.woff2') format('woff2');
}
@font-face {
    font-family: 'Outfit';
    src: local('Outfit'),
         url('./fonts/CustomFont2Name.woff') format('woff'),
         url('./fonts/CustomFont2Name.woff2') format('woff2');
}