@font-face {
    font-family: 'Outfit';
    src: local('Outfit'),
         url('./Fonts/Outfit-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Outfit-Regular';
    src: local('Outfit-Regular'),
         url('./Fonts/Outfit-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Outfit-Bold';
    src: local('Outfit-Bold'),
         url('./Fonts/Outfit-Bold.woff') format('woff');
}